<div class="dashboard-container">
    <mat-sidenav-container class="config-container" autosize>
        <!-- Main Graph Area -->
        <mat-sidenav-content>
            <div class="dropdown-container">
                <mat-form-field appearance="fill">
                    <mat-label>Choose Chart Type</mat-label>
                    <mat-select [(ngModel)]="selectedChart">
                        <mat-option value="barChart">Bar Chart</mat-option>
                        <mat-option value="lineChart">Line Chart</mat-option>
                        <mat-option value="pieChart">Pie Chart</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="toggleConfig()" class="toggle-btn-margin">
                    Chart Configuration
                    <mat-icon>settings</mat-icon>
                </button>
            </div>
            <div class="graph-area mat_margin">
                <div *ngIf="selectedChart == 'barChart' && barChartData && barChartData.length" class="chart-wrapper">

                    <app-barchart [results]="barChartData" [view]="barChartView" [xAxis]="barChartConfig.xAxis"
                        [yAxis]="barChartConfig.yAxis" [showXAxisLabel]="barChartConfig.showXAxisLabel"
                        [showYAxisLabel]="barChartConfig.showYAxisLabel" [xAxisLabel]="barChartConfig.xAxisLabel"
                        [yAxisLabel]="barChartConfig.yAxisLabel" [showDataLabel]="barChartConfig.showDataLabel"
                        [legend]="barChartConfig.legend" [legendPosition]="barChartConfig.legendPosition"
                        [legendTitle]="barChartConfig.legendTitle" [scheme]="barChartConfig.colorScheme"
                        [chartColumns]="barChartColumns">
                    </app-barchart>

                </div>
                <div *ngIf="selectedChart == 'lineChart' && lineChartData && lineChartData.length"
                    class="chart-wrapper">
                    <app-linechart [results]="lineChartData" [view]="lineChartView" [xAxis]="lineChartConfig.xAxis"
                        [yAxis]="lineChartConfig.yAxis" [showXAxisLabel]="lineChartConfig.showXAxisLabel"
                        [showYAxisLabel]="lineChartConfig.showYAxisLabel" [xAxisLabel]="lineChartConfig.xAxisLabel"
                        [yAxisLabel]="lineChartConfig.yAxisLabel" [autoScale]="lineChartConfig.autoScale"
                        [showGridLines]="lineChartConfig.showGridLines"
                        [tooltipDisabled]="lineChartConfig.tooltipDisabled" [legend]="lineChartConfig.legend"
                        [legendPosition]="lineChartConfig.legendPosition" [legendTitle]="lineChartConfig.legendTitle"
                        [scheme]="lineChartConfig.colorScheme" [chartColumns]="lineChartColumns"></app-linechart>
                </div>
                <div *ngIf="selectedChart == 'pieChart' && pieChartData && pieChartData.length" class="chart-wrapper">
                    <app-piechart [results]="pieChartData" [view]="pieChartView" [legend]="pieChartConfig.legend"
                        [legendPosition]="pieChartConfig.legendPosition" [legendTitle]="pieChartConfig.legendTitle"
                        [explodeSlices]="pieChartConfig.explodeSlices"
                        [tooltipDisabled]="pieChartConfig.tooltipDisabled" [doughnut]="pieChartConfig.doughnut"
                        [labels]="pieChartConfig.labels" [scheme]="pieChartConfig.colorScheme"
                        [chartColumns]="pieChartColumns"></app-piechart>
                </div>
            </div>
        </mat-sidenav-content>

        <!-- Right Side Graph Config Drawer -->
        <mat-sidenav #configSidenav position="end" mode="side" [(opened)]="isConfigOpen" class="config-sidenav">
            <div *ngIf="selectedChart == 'barChart' && barChartData && barChartData.length">
                <div class="cus_title">
                    <mat-card-title>Chart Configuration</mat-card-title>
                </div>
                <div class="config-element">
                    <form class="form-container" [formGroup]="barChartConfigForm">
                        <mat-accordion>
                            <mat-expansion-panel class="cus_margin" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Dimensions
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    <div formGroupName="view" class="input-row">
                                        <mat-form-field appearance="fill" class="input-field">
                                            <mat-label>Width</mat-label>
                                            <input matInput type="number" formControlName="width">
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" class="input-field">
                                            <mat-label>Height</mat-label>
                                            <input matInput type="number" formControlName="height">
                                        </mat-form-field>
                                    </div>

                                    <div class="button-row">
                                        <button mat-raised-button color="primary"
                                            (click)="applyDimensions('barChart')">Apply
                                            Dimensions</button>

                                        <button mat-raised-button class="reset-btn"
                                            (click)="resetDimensions('barChart')">Reset</button>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel class="cus_margin" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Color Scheme
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="dropdown-container">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Choose Chart Type</mat-label>
                                        <mat-select formControlName="colorScheme">
                                            <mat-option *ngFor="let color of colorSchemeArray"
                                                [value]="color.value">{{color.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="palette-container">
                                    <div *ngFor="let color of barChartSelectedPalette" class="palette-box"
                                        [style.background]="color"></div>
                                </div>

                            </mat-expansion-panel>
                            <mat-expansion-panel class="cus_margin" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Legend
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    <mat-checkbox class="example-margin" formControlName="legend">Show
                                        Legend</mat-checkbox>
                                </div>
                                <div class="input-row">
                                    <mat-form-field appearance="fill" class="input-field">
                                        <mat-label>Legend Position</mat-label>
                                        <mat-select formControlName="legendPosition">
                                            <mat-option value="right">Right</mat-option>
                                            <mat-option value="below">Below</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="input-field">
                                        <mat-label>Legend Title</mat-label>
                                        <input matInput formControlName="legendTitle">
                                    </mat-form-field>
                                </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel class="cus_margin" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Other Options
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="input-row">
                                    <div class="input-row">
                                        <mat-checkbox class="input-field" formControlName="xAxis">Show
                                            XAxis</mat-checkbox>
                                        <mat-checkbox class="input-field" formControlName="yAxis">Show
                                            YAxis</mat-checkbox>
                                        <mat-checkbox class="input-field" formControlName="showXAxisLabel">Show
                                            XAxis Label</mat-checkbox>
                                        <mat-checkbox class="input-field" formControlName="showYAxisLabel">Show
                                            YAxis Label</mat-checkbox>
                                        <mat-checkbox class="input-field" formControlName="showDataLabel">Show
                                            Data Label</mat-checkbox>
                                    </div>
                                    <mat-form-field appearance="fill" class="input-field">
                                        <mat-label>XAxis Label</mat-label>
                                        <input matInput formControlName="xAxisLabel">
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="input-field">
                                        <mat-label>YAxis Label</mat-label>
                                        <input matInput formControlName="yAxisLabel">
                                    </mat-form-field>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </form>
                </div>
            </div>
            <div *ngIf="selectedChart == 'lineChart' && lineChartData && lineChartData.length">
                <div class="cus_title">
                    <mat-card-title>Chart Configuration</mat-card-title>
                </div>
                <div class="config-element">
                    <form class="form-container" [formGroup]="lineChartConfigForm">
                        <mat-accordion>
                            <mat-expansion-panel class="cus_margin" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Dimensions
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    <div formGroupName="view" class="input-row">
                                        <mat-form-field appearance="fill" class="input-field">
                                            <mat-label>Width</mat-label>
                                            <input matInput type="number" formControlName="width">
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" class="input-field">
                                            <mat-label>Height</mat-label>
                                            <input matInput type="number" formControlName="height">
                                        </mat-form-field>
                                    </div>

                                    <div class="button-row">
                                        <button mat-raised-button color="primary"
                                            (click)="applyDimensions('lineChart')">Apply
                                            Dimensions</button>

                                        <button mat-raised-button class="reset-btn"
                                            (click)="resetDimensions('lineChart')">Reset</button>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel class="cus_margin" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Color Scheme
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="dropdown-container">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Choose Chart Type</mat-label>
                                        <mat-select formControlName="colorScheme">
                                            <mat-option *ngFor="let color of colorSchemeArray"
                                                [value]="color.value">{{color.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="palette-container">
                                    <div *ngFor="let color of lineChartSelectedPalette" class="palette-box"
                                        [style.background]="color"></div>
                                </div>

                            </mat-expansion-panel>
                            <mat-expansion-panel class="cus_margin" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Legend
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    <mat-checkbox class="example-margin" formControlName="legend">Show
                                        Legend</mat-checkbox>
                                </div>
                                <div class="input-row">
                                    <mat-form-field appearance="fill" class="input-field">
                                        <mat-label>Legend Position</mat-label>
                                        <mat-select formControlName="legendPosition">
                                            <mat-option value="right">Right</mat-option>
                                            <mat-option value="below">Below</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="input-field">
                                        <mat-label>Legend Title</mat-label>
                                        <input matInput formControlName="legendTitle">
                                    </mat-form-field>
                                </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel class="cus_margin" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Other Options
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="input-row">
                                    <div class="input-row">
                                        <mat-checkbox class="input-field" formControlName="xAxis">Show
                                            XAxis</mat-checkbox>
                                        <mat-checkbox class="input-field" formControlName="yAxis">Show
                                            YAxis</mat-checkbox>
                                        <mat-checkbox class="input-field" formControlName="showXAxisLabel">Show
                                            XAxis Label</mat-checkbox>
                                        <mat-checkbox class="input-field" formControlName="showYAxisLabel">Show
                                            YAxis Label</mat-checkbox>
                                        <mat-checkbox class="input-field" formControlName="autoScale">Auto
                                            Scale</mat-checkbox>
                                        <mat-checkbox class="input-field" formControlName="showGridLines">Show
                                            Grid Lines</mat-checkbox>
                                        <mat-checkbox class="input-field" formControlName="tooltipDisabled">
                                            Disable tooltip</mat-checkbox>
                                    </div>
                                    <mat-form-field appearance="fill" class="input-field">
                                        <mat-label>XAxis Label</mat-label>
                                        <input matInput formControlName="xAxisLabel">
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="input-field">
                                        <mat-label>YAxis Label</mat-label>
                                        <input matInput formControlName="yAxisLabel">
                                    </mat-form-field>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </form>
                </div>
            </div>
            <div *ngIf="selectedChart == 'pieChart' && pieChartData && pieChartData.length">
                <div class="cus_title">
                    <mat-card-title>Chart Configuration</mat-card-title>
                </div>
                <div class="config-element">
                    <form class="form-container" [formGroup]="pieChartConfigForm">
                        <mat-accordion>
                            <mat-expansion-panel class="cus_margin" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Dimensions
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    <div formGroupName="view" class="input-row">
                                        <mat-form-field appearance="fill" class="input-field">
                                            <mat-label>Width</mat-label>
                                            <input matInput type="number" formControlName="width">
                                        </mat-form-field>

                                        <mat-form-field appearance="fill" class="input-field">
                                            <mat-label>Height</mat-label>
                                            <input matInput type="number" formControlName="height">
                                        </mat-form-field>
                                    </div>

                                    <div class="button-row">
                                        <button mat-raised-button color="primary"
                                            (click)="applyDimensions('pieChart')">Apply
                                            Dimensions</button>

                                        <button mat-raised-button class="reset-btn"
                                            (click)="resetDimensions('pieChart')">Reset</button>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel class="cus_margin" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Color Scheme
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="dropdown-container">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Choose Chart Type</mat-label>
                                        <mat-select formControlName="colorScheme">
                                            <mat-option *ngFor="let color of colorSchemeArray"
                                                [value]="color.value">{{color.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="palette-container">
                                    <div *ngFor="let color of pieChartSelectedPalette" class="palette-box"
                                        [style.background]="color"></div>
                                </div>

                            </mat-expansion-panel>
                            <mat-expansion-panel class="cus_margin" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Legend
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div>
                                    <mat-checkbox class="example-margin" formControlName="legend">Show
                                        Legend</mat-checkbox>
                                </div>
                                <div class="input-row">
                                    <mat-form-field appearance="fill" class="input-field">
                                        <mat-label>Legend Position</mat-label>
                                        <mat-select formControlName="legendPosition">
                                            <mat-option value="right">Right</mat-option>
                                            <mat-option value="below">Below</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="input-field">
                                        <mat-label>Legend Title</mat-label>
                                        <input matInput formControlName="legendTitle">
                                    </mat-form-field>
                                </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel class="cus_margin" (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Other Options
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="input-row">
                                    <div class="input-row">
                                        <mat-checkbox class="input-field" formControlName="explodeSlices">Explode
                                            Slices</mat-checkbox>
                                        <mat-checkbox class="input-field" formControlName="tooltipDisabled">
                                            Disable tooltip</mat-checkbox>
                                        <mat-checkbox class="input-field" formControlName="doughnut">
                                            Doughnut</mat-checkbox>
                                        <mat-checkbox class="input-field" formControlName="labels">
                                            Labels</mat-checkbox>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </form>
                </div>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</div>