<div class="container mat-elevation-z3">
    <ngx-charts-bar-vertical 
        [results]="barChartData" 
        [view]="view" 
        [xAxis]="xAxis" 
        [yAxis]="yAxis" 
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showDataLabel]="showDataLabel"
        [legend]="legend"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [scheme]="scheme">
    </ngx-charts-bar-vertical>
</div>