<div class="container mat-elevation-z3">
    <ngx-charts-line-chart 
        [results]="lineChartData"
        [view]="view"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [legend]="legend"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [scheme]="scheme"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [showGridLines]="showGridLines"
        [tooltipDisabled]="tooltipDisabled">
    </ngx-charts-line-chart>
</div>